{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block header %}
    <header>
        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
    </header>
{% endblock %}

{% block body %}
    {% include "security/loginForm.html.twig" %}
{% endblock %}
