<div class="card col-lg-3 m-3">
    <img src="https://via.placeholder.com/200x50?text=MainImage" class="card-img-top" alt="image">
    <div class="card-body">
        <h5 class="card-title"><a href="{{ path('trick_show_name', {'name': trick.name}) }}">{{ trick.name }}</a></h5>
    </div>
</div>