<div class="card col-lg-3 m-3">
    <a class="card-img-link" href="{{ path('trick_show', {'id': trick.id}) }}">
        {% if trick.mainImage %}
            <img src="{{ trick.mainImage }}" class="card-img-top" alt="image">
        {% else %}
            <img src="/public/img/no_image.jpg" class="card-img-top" alt="image">
        {% endif %}
    </a>
    <div class="card-body text-center">
        <h5 class="card-title"><a href="{{ path('trick_show', {'id': trick.id}) }}">{{ trick.name }}</a></h5>
    </div>
</div>