{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <style>
        header {
            background-image: url("/img/main_header.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        header h1 {
            font-family: 'Fredericka the Great', cursive;
            font-size: 5em;
        }

        header h2 {
            font-family: 'Love Ya Like A Sister', cursive;
            text-align: center;
        }

        @media all and (max-width: 450px) {
            header h1 {
                font-size: 4em;
            }

            header h2 {
                font-size: 2.5em;
            }
        }
    </style>
{% endblock %}

{% block header %}
    <header class="full-height">
        <h1>SnowTricks</h1>
        <h2>Les tricks les plus hype !</h2>
        <div class="arrow-down" onclick="window.scrollBy(0, window.innerHeight);"><i class="fas fa-arrow-circle-down fa-3x"></i></div>
    </header>
{% endblock %}

{% block body %}
    <section class="py-3 row flex-jc-center" id="trick-list">
        {% for trick in tricks %}
            {% include 'home/card.html.twig' %}
        {% endfor %}
    </section>
    {% if paginator.currentPage > 1 %}
        <div class="text-center mb-3">
            <a id="home-previous-page-btn" class="btn btn-primary" href="{{ path("home") ~ (paginator.currentPage - 1) }}#trick-list">Afficher les tricks précédents</a>
        </div>
    {% endif %}
    {% if paginator.currentPage < paginator.pagesCount %}
        <div class="text-center mb-3">
            <a id="home-next-page-btn" class="btn btn-primary" href="{{ path("home") ~ (paginator.currentPage + 1) }}#trick-list">Afficher d'autres tricks</a>
        </div>
    {% endif %}
{% endblock %}