{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <style>
        header {
            background-image: url("https://1920x1080hdwallpapers.com/image/201502/men/753/snowboard-trick-snow-extreme-mountain.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        h1 {
            font-family: 'Fredericka the Great', cursive;
            font-size: 5em;
        }

        h2 {
            font-family: 'Love Ya Like A Sister', cursive;
        }
    </style>
{% endblock %}

{% block header %}
    <header class="full-height">
        <h1>SnowTricks</h1>
        <h2>Les tricks les plus hype !</h2>
        <div class="arrow-down" onclick="window.scrollBy(0, window.innerHeight);"><i class="fas fa-arrow-circle-down fa-3x"></i></div>
    </header>
{% endblock %}

{% block body %}
    <section class="py-3 row flex-jc-center" id="trick-list">
        {% for trick in tricks %}
            {% include 'home/card.html.twig' %}
        {% endfor %}
    </section>
    <div class="text-center mb-3">
        <a id="home-next-page-btn" class="btn btn-primary" href="{{ path("home") ~ (page + 1) }}#home-next-page-btn">Afficher d'autres tricks</a>
    </div>
{% endblock %}