{% extends "base.html.twig" %}

{% block title %}
    Connexion
{% endblock %}

{% block header %}
    <header>
        <h1>Connexion</h1>
    </header>
{% endblock %}

{% block body %}
    {% include "member/loginForm.html.twig" %}
{% endblock %}