{% extends "base.html.twig" %}

{% block title %}
    Connexion
{% endblock %}

{% block header %}
    <header>
        <h1>Connexion</h1>
    </header>
{% endblock %}

{% block body %}

    {#<form action="{{ path("login_route") }}" method="post">#}
        {#<div class="form-group">#}
            {#<input type="text" required name="_username" class="form-control" placeholder="Email">#}
        {#</div>#}
        {#<div class="form-group">#}
            {#<input type="password" required name="_password" class="form-control" placeholder="Mot de passe">#}
        {#</div>#}
        {#<button type="submit" class="btn btn-primary">Connexion</button>#}
    {#</form>#}

{% endblock %}