{% if connected %}
    <li class="nav-item">
        <a class="nav-link" href="#">Mon profil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Déconnexion</a>
    </li>
{% else %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path("registration") }}">Inscription</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Connexion</a>
    </li>
{% endif %}