html, body {
    height: 100%;
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkslategray;
    color: whitesmoke;
}

header h1, header h2 {
    margin: 20px;
}

footer {
    width: 100%;
    position: absolute;
    background-color: darkslategray;
    color: whitesmoke;
    padding: 20px 0;
    text-align: center;
}

.full-height {
    height: 100%;
}

.flex-jc-center {
    justify-content: center;
}

.message {
    background-color: cornflowerblue;
    color: darkslateblue;
    padding: 25px;
    margin: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
}

.message:hover {
    cursor: pointer;
}

.arrow-down {
    margin: 20px;
    cursor: pointer;
    position: relative;
    top: 0;
    transition-duration: 300ms;
    transition-property: top;
}

.arrow-down:hover {
    cursor: pointer;
    position: relative;
    top: 7px;
}

/*
    Commands
*/

.commands-wrapper {
    display: flex;
}

.command {
    display: block;
    margin: 3px 5px;
    padding: 3px 5px;
    border-radius: 3px;
    background-color: #2C3E50;
    color: whitesmoke;
    font-weight: bold;
}

.command:hover {
    text-decoration: none;
}

.card-image {
    width: 288px;
}

@media all and (max-width: 576px) {

    footer {
        padding: 20px 0 71px 0;
    }

    .navbar {
        position: fixed;
        bottom: 0;
        z-index: 100000;
        width: 100%;
    }
}

@media all and (max-width: 624px) {

    .card {
        width: 85%;
    }
}

@media all and (min-width: 624px) {

    .card {
        max-width: 280px;
    }
}

@media all and (min-width: 768px) {

    .card {
        max-width: 320px;
    }
}