#image-manager-message {
    border-radius: 0.25rem;
    background-color: #2e6da4;
    color: whitesmoke;
    padding: 10px;
    animation-name: loading;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#image-library {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.image-library-element {
    position: relative;
    margin: 10px;
}

.image-library-element img {
    max-width: 300px;
    border: lightgray 4px solid;
    border-radius: 0.5rem;
}

.image-library-element-delete {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 0 8px 2px 8px;
    border-radius: 100%;
    background-color: lightgray;
    color: whitesmoke;
}

.main-image-selected {
    border: rgb(44, 62, 80) 4px solid !important;
}

.image-library-element-delete:hover {
    cursor: pointer;
    background-color: #843534;
}

#image_upload {
    color: darkgray;
    font-size: 0.5em;
}

.custom-file {
    display: none;
}

@keyframes loading {
    from {
        color:whitesmoke;
    }

    50% {
        color: #2C3E50;
    }

    to {
        color:whitesmoke;
    }
}