<div id="comment-form">
    <form action="{{ path("trick_show_id", {'id': trick.id}) }}" method="post">
        {{ form_start(commentForm) }}

        {{ form_row(commentForm.content, {
            "label": "Commentaire",
            "attr": {
                "placeholder": "Un petit mot ?"
            }
        }) }}

        <button type="submit" class="btn btn-primary">Publier</button>

        {{ form_end(commentForm) }}
    </form>
</div>