{# Navigation bar #}
<nav id="main-navigation-bar" class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">SnowTricks</a>
    <button id="main-navigation-bar-menu-button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("show_trick_groups") }}">Tricks</a>
            </li>
            {% if is_granted(constant("App\\Entity\\Member::ROLE_USER")) %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("add_trick") }}">Nouveau trick</a>
                </li>
            {% endif %}
            {% if is_granted(constant("App\\Entity\\Member::ROLE_MODERATOR")) %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('moderation_panel') }}">Modération</a>
                </li>
            {% endif %}
            {% if is_granted(constant("App\\Entity\\Member::ROLE_MANAGER")) %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('member_management') }}">Gestion des membres</a>
                </li>
            {% endif %}
            {% set connected = false %}
            {% include 'member/navConnection.twig' %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Trick">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
        </form>
    </div>
</nav>
