{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block stylesheets %}
    <style>
        .error-image {
            background-image: url("img/no_image.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 400px;
            max-width: 800px;
            margin: 0 auto 20px auto;
        }
    </style>
{% endblock %}

{% block navBar %}
    {# Empty to avoid showing registration and login links #}
{% endblock %}

{% block header %}
    <header>
        <h1>Une erreur est survenue</h1>
        <h2><a href="{{ path("home") }}">Revenir à l'accueil</a></h2>
    </header>
{% endblock %}

{% block body %}
    <div class="error-image"></div>
{% endblock %}