{% extends 'base.html.twig' %}

{% block title %}Tricks{% endblock %}

{% block header %}
    <header>
        <h1>Tricks</h1>
    </header>
{% endblock %}

{% block body %}

    <h2>Catégories</h2>

    <ul>
        {% for group in groups %}
            <li><a href="{{ path("show_trick_group", {"id": group.id}) }}">{{ group.name }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}